.scrollable-mat-list {
  overflow: auto;
}

.gameId-text {
  color: darkslategrey;
  font-size:28px;
  font-family: fantasy;
  padding-bottom: 30px;
}

.typewriter-text-sm-1 {
  text-align: right;
  color: seagreen;
  font-size:18px;
  font-family: "American Typewriter";
}

.count-text-1 {
  text-align: center;
  color: firebrick;
  font-size:18px;
  font-family: "cursive";
  padding-bottom: 15px;
}

.hall-of-fame-text {
  text-align: center;
  color: darkmagenta;
  font-size:36px;
  font-family: "American Typewriter";
  padding: 25px;
}

.first-text {
  text-align: center;
  color: brown;
  font-size:40px;
  font-family: "cursive";
  padding-bottom: 25px;
}

.second-text {
  text-align: center;
  color: firebrick;
  font-size:30px;
  font-family: "cursive";
  padding-bottom: 20px;
}

.third-text {
  text-align: center;
  color: crimson;
  font-size:27px;
  font-family: "cursive";
  padding-bottom: 18px;
}
.forth-text {
  text-align: center;
  color: orangered;
  font-size:24px;
  font-family: "cursive";
  padding-bottom: 16px;
}

.fifth-text {
  text-align: center;
  color: coral;
  font-size:21px;
  font-family: "cursive";
  padding-bottom: 14px;
}

.mat-card-margin {
  margin: 10px;
}
