.scrollable-mat-list {
  overflow: auto;
}

.big-typewriter-text1 {
  color: darkolivegreen;
  font-size:48px;
  font-family: "American Typewriter";
  padding-bottom: 10px;
}

.big-typewriter-text2 {
  color: darkslategray;
  font-size:32px;
  font-family: "American Typewriter";
  padding-bottom: 10px;

}

.big-typewriter-text3 {
  color: seagreen;
  font-size:20px;
  font-family: "American Typewriter";
}

.score-text {
  color: seagreen;
  font-size:24px;
  font-family: "American Typewriter";
}

.player-text {
  color: greenyellow;
  font-size:18px;
  font-family: "American Typewriter";
}
