.scrollable-mat-list {
  overflow: auto;
}

.gameId-text {
  color: darkslategrey;
  font-size:24px;
  font-family: fantasy;
}

.score-text {
  color: seagreen;
  font-size:20px;
  font-family: "American Typewriter";
}

.score-text {
  color: seagreen;
  font-size:20px;
  font-family: "American Typewriter";
}

.player-text {
  color: greenyellow;
  font-size:18px;
  font-family: "American Typewriter";
}

