<div *ngIf="error$ | async as error"
     class="warn-text-colour"
     style="font-family: cursive"
     style="font-size: 14px">
  {{error}}
</div>


<div fxLayout="row" fxLayoutAlign="center center" fxFlex *ngIf="!client"  style="padding: 20px" fxLayoutGap="10px">
  <mat-card fxFlex="40">

    <mat-card-header fxLayoutAlign="center top">
      <mat-card-title fxLayoutAlign="center top" style="font-size: x-large; font-family: 'American Typewriter'">Welcome to</mat-card-title>
      <mat-card-title style="font-size: xxx-large; font-family: 'American Typewriter'">Best Playz</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayoutAlign="center top">
      <label>
        Enter nickname:
        <input type="text" [formControl]="loginFC">
      </label>
      <button (click)="login()" mat-raised-button color="accent">Login</button>
      <!--      <mat-form-field class="primary-text-colour" fxFlex="250px">
              <mat-label>Enter Your Nickname</mat-label>
              <input matInput type="text" [formControl]="loginFC">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="login()">
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
    -->
    </mat-card-content>
  </mat-card>
</div>





<div fxLayout="row" fxFlex *ngIf="client">


  <div fxLayout="column" fxFlex="30">
    <mat-card fxFlex>
      <mat-card-header>
        <h5>Clients</h5>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="clients$ | async as clients">
          <ul>
            <li *ngFor="let client of clients">
              {{client.nickname}}
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxLayout="column" fxFlex="70" >
    <mat-card fxFlex fxLayout="column">
      <mat-card-header>
        <h5>Logged in as {{client.nickname}}</h5>
      </mat-card-header>

      <mat-card-content fxFlex fxLayout="column">
        <mat-list fxFlex class="scrollable-mat-list">
          <mat-list-item *ngFor="let comment of comments">
            <mat-icon mat-list-icon>face</mat-icon>
            <div mat-line class="comment-text">{{comment.text}}</div>
            <div mat-line class="comment-sender-text" style="font-size: x-small">{{comment.sender?.nickname}}  -  {{comment.posted}}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions>
        <label>
          Comment:
          <input type="text" [formControl]="commentFC">
        </label>
        <button (click)="postComment()">Post</button>
      </mat-card-actions>

      <mat-card-footer fxFlex="30px" style="padding-left: 30px">
        Demo footer text
      </mat-card-footer>

    </mat-card >


  </div>
</div>









